In [278]:
import os 
import time
import json
import nltk
import string
import pickle
import datetime

In [125]:
import numpy as np
import pandas as pd
import xml.etree.ElementTree as xml

In [126]:
from moviepy.editor import *
from tqdm.notebook import tqdm
from collections import Counter

from nltk.stem import PorterStemmer
from nltk.stem import LancasterStemmer
from nltk.tokenize import sent_tokenize, word_tokenize

from sklearn.feature_extraction.text import TfidfVectorizer, TfidfTransformer

strptime = datetime.datetime.strptime

In [114]:
# shots_selection_path = '../facerec_segment/segs/segments_add2_keep2_cut0.7.pickle'
facerec_path = '../facerec_segment/facerec_query_characters.csv'
facerec_selected_path = '../facerec_segment/chosen_segments_0.7.csv'
facerec_all_path = '../facerec_segment/facerec_query_characters_coref.csv'
mentions_path = '../coref/summaries_query_mentions.pickle'
subtitles_path = '../transcripts/shot-aligned_transcripts.csv'
descriptions_path = '../transcripts/shot-aligned_captions.csv'
captions_path = '../captions/deep_captions.csv'
mastershot_path = '../transcripts/mastershot_timing.csv'

In [83]:
file2id = {  '5531550228324592939.mp4': '175',
             '5534228999422914578.mp4': '176',
             '5539381671692122744.mp4': '177',
             '5542003749222140011.mp4': '178',
             '5544574287152993687.mp4': '179',
             '5544620672795594434.mp4': '180',
             '5547193787702629969.mp4': '181',
             '5549784941472309008.mp4': '182',
             '5552368364300855101.mp4': '183',
             '5555325449284154780.mp4': '184',
             '5555360238519252381.mp4': '185'}

eps = [  '5531550228324592939.mp4',
         '5534228999422914578.mp4',
         '5539381671692122744.mp4',
         '5542003749222140011.mp4',
         '5544574287152993687.mp4',
         '5544620672795594434.mp4',
         '5547193787702629969.mp4',
         '5549784941472309008.mp4',
         '5552368364300855101.mp4',
         '5555325449284154780.mp4',
         '5555360238519252381.mp4', ]

In [120]:
mastershot_df = pd.read_csv('../transcripts/mastershot_timing.csv')
mastershot_df['start'] = mastershot_df['start'].apply(lambda t: t[:8] + '.' + t[9:])
mastershot_df['end'] = mastershot_df['end'].apply(lambda t: t[:8] + '.' + t[9:])
mastershot_df['sid'] = mastershot_df['file'].apply(lambda x: file2id[x.replace('xml', 'mp4')] + '-') + mastershot_df['shot'].astype(str)
mastershot_df.head()

,Unnamed: 0,file,shot,start_s,end_s,start,end,sid
0,0,5531550228324592939.xml,1,0.00,0.12,00:00:00.00,00:00:00.12,175-1
1,1,5531550228324592939.xml,2,0.13,0.24,00:00:00.13,00:00:00.24,175-2
2,2,5531550228324592939.xml,3,1.00,1.18,00:00:01.00,00:00:01.18,175-3
3,3,5531550228324592939.xml,4,1.19,2.05,00:00:01.19,00:00:02.05,175-4
4,4,5531550228324592939.xml,5,2.06,24.13,00:00:02.06,00:00:24.13,175-5

In [199]:
df_facerec = pd.read_csv(facerec_path)
df_facerec['sid'] = df_facerec['file'].apply(lambda x: file2id[x] + '-') + df_facerec['shot_id'].astype(str)
df_facerec = df_facerec[df_facerec['confidence'] > 0.5]
df_facerec.head()

,Unnamed: 0,file,shot_id,start,end,start_s,end_s,duration,character,confidence,sid
0,0,5555360238519252381.mp4,18,00:00:59:04,00:01:03:15,59.04,63.15,4.11,Stacey Branning,0.647979,185-18
1,1,5555360238519252381.mp4,19,00:01:03:16,00:01:05:06,63.16,65.06,1.90,Stacey Branning,0.718986,185-19
5,5,5555360238519252381.mp4,25,00:01:48:02,00:02:01:01,108.02,121.01,12.99,Stacey Branning,0.542448,185-25
6,6,5555360238519252381.mp4,25,00:01:48:02,00:02:01:01,108.02,121.01,12.99,Ryan Malloy,0.589787,185-25
8,8,5555360238519252381.mp4,25,00:01:48:02,00:02:01:01,108.02,121.01,12.99,Ryan Malloy,0.573998,185-25

In [131]:
sorted(df_facerec.duration.unique(), reverse=True)[:10]

[55.98000000000002,
 48.960000000000036,
 46.1500000000001,
 45.03999999999997,
 43.98999999999978,
 42.01000000000022,
 41.039999999999964,
 40.95000000000027,
 39.98999999999978,
 39.08000000000004]

In [200]:
df_facerec_selected = pd.read_csv(facerec_selected_path)
df_facerec_selected = df_facerec_selected[df_facerec_selected['avg_confidence'] > 0.5]
df_facerec_selected['sid'] = df_facerec_selected['file'].apply(lambda x: file2id[x] + '-') + df_facerec_selected['shot_id'].astype(str)
df_facerec_selected.head()

,Unnamed: 0,file,shot_id,character,avg_confidence,sid
0,0,5555360238519252381.mp4,19,Stacey Branning,0.718986,185-19
1,1,5555360238519252381.mp4,36,Janine Malloy,0.833666,185-36
2,2,5555360238519252381.mp4,38,Janine Malloy,0.877764,185-38
3,3,5555360238519252381.mp4,42,Ryan Malloy,0.823699,185-42
4,4,5555360238519252381.mp4,46,Ryan Malloy,0.837216,185-46

In [201]:
df_facerec_all = pd.read_csv(facerec_all_path)
df_facerec_all = df_facerec_all[df_facerec_all['confidence'] > 0.5]
df_facerec_all['sid'] = df_facerec_all['file'].apply(lambda x: file2id[x] + '-') + df_facerec_all['shot_id'].astype(str)
df_facerec_all.head()

,Unnamed: 0,file,shot_id,start,end,start_s,end_s,duration,character,confidence,sid
57,57,5555360238519252381.mp4,36,00:02:42:05,00:02:56:06,162.05,176.06,14.01,Janine Malloy,0.533121,185-36
58,58,5555360238519252381.mp4,36,00:02:42:05,00:02:56:06,162.05,176.06,14.01,Janine Malloy,0.537654,185-36
62,62,5555360238519252381.mp4,36,00:02:42:05,00:02:56:06,162.05,176.06,14.01,Janine Malloy,0.504680,185-36
66,66,5555360238519252381.mp4,36,00:02:42:05,00:02:56:06,162.05,176.06,14.01,Janine Malloy,0.519436,185-36
67,67,5555360238519252381.mp4,36,00:02:42:05,00:02:56:06,162.05,176.06,14.01,Janine Malloy,0.544696,185-36

In [202]:
first_names = lambda chars: ' '.join(set([char.split()[0] for char in chars]))

df_chars_queries = pd.DataFrame(df_facerec.groupby('sid')['character'].apply(first_names)).rename(columns={'character':'chars_query'})
df_chars_queries.reset_index(level=0, inplace=True)

df_chars_selected = pd.DataFrame(df_facerec_selected.groupby('sid')['character'].apply(first_names)).rename(columns={'character': 'selected_character'})
df_chars_selected.reset_index(level=0, inplace=True)


df_chars_all = pd.DataFrame(df_facerec_all.groupby('sid')['character'].apply(first_names)).rename(columns={'character':'chars_all'})
df_chars_all.reset_index(level=0, inplace=True)

df_chars_all

           sid chars_all
0     175-1002     Billy
1     175-1012     Billy
2     175-1015     Billy
3     175-1027      Ryan
4     175-1031      Ryan
...        ...       ...
1714   185-926      Ryan
1715   185-965    Stacey
1716   185-982      Jean
1717   185-994      Roxy
1718   185-999      Ryan

[1719 rows x 2 columns]

In [203]:
df_chars_all.head(5)

        sid chars_all
0  175-1002     Billy
1  175-1012     Billy
2  175-1015     Billy
3  175-1027      Ryan
4  175-1031      Ryan

In [204]:
df_chars_selected.head()

        sid selected_character
0  175-1027               Ryan
1  175-1028               Ryan
2  175-1029               Ryan
3  175-1031               Ryan
4  175-1033               Ryan

In [205]:
df_chars_queries.head(5)

        sid chars_query
0    175-10        Ryan
1  175-1002        Ryan
2  175-1004        Ryan
3  175-1005        Ryan
4  175-1006        Ryan

In [206]:
mentions = pickle.load(open(mentions_path, 'rb'))
print('support', mentions['5531550228324592939.mp4']['support'][:2], '..')
print('marked', mentions['5531550228324592939.mp4']['marked'][:2], '..')
print('characters', mentions['5531550228324592939.mp4']['characters'][:2], '..')
print('queries', mentions['5531550228324592939.mp4']['queries'][:2], '..')

support ['Kat persuades Stacey and Jean to come to R&R with her and Kim, leaving Charlie and Alfie to look after Lily', 'Lily won’t settle so Pat takes her for a walk'] ..
marked ['#Kat persuades @Stacey and #Jean to come to ~R&R with #Kat and #Kim , leaving #Charlie and #Alfie to look after ~Lily', '@Janine accuses @Ryan of wanting to go to ~R&R because ~R&R knew @Stacey would be there'] ..
characters [['Kat', 'Stacey', 'Jean', 'Kat', 'Kim', 'Charlie', 'Alfie'], ['Janine', 'Ryan', 'Stacey']] ..
queries [['Stacey'], ['Janine', 'Ryan', 'Stacey']] ..

In [207]:
subtitles = pd.read_csv(subtitles_path)
subtitles['sid'] = subtitles['filename'].apply(lambda x: file2id[x.replace('xml', 'mp4')] + '-') + subtitles['shot_id'].astype(str)
subtitles.head()

,Unnamed: 0,filename,shot_id,begin,end,transcript,sid
0,0,5531550228324592939.xml,1,0.00,0.12,NaN,175-1
1,1,5531550228324592939.xml,2,0.13,0.24,NaN,175-2
2,2,5531550228324592939.xml,3,1.00,1.18,NaN,175-3
3,3,5531550228324592939.xml,4,1.19,2.05,NaN,175-4
4,4,5531550228324592939.xml,5,2.06,24.13,NaN,175-5

In [208]:
captions = pd.read_csv(captions_path)
captions['sid'] = captions['episode'].apply(lambda x: file2id[x] + '-') + captions['shot'].astype(str)
captions.head()

,Unnamed: 0,episode,shot,caption,sid
0,0,5531550228324592939.mp4,1,a man is riding a skateboard and doing tricks,175-1
1,1,5531550228324592939.mp4,2,a man is skateboarding down a ramp,175-2
2,2,5531550228324592939.mp4,3,a man is riding a skateboard and doing tricks,175-3
3,3,5531550228324592939.mp4,4,a car is driving on a track and then crashes i...,175-4
4,4,5531550228324592939.mp4,5,a bird is perched on a tree branch,175-5

In [209]:
len(captions)

21212

In [210]:
descriptions = pd.read_csv(descriptions_path).rename(columns={'caption': 'description'})
descriptions['sid'] = descriptions['filename'].apply(lambda x: file2id[x.replace('xml', 'mp4')] + '-') + descriptions['shot_id'].astype(str)
descriptions.head()

,Unnamed: 0,filename,shot_id,begin,end,description,sid
0,0,5531550228324592939.xml,1,0.00,0.12,NaN,175-1
1,1,5531550228324592939.xml,2,0.13,0.24,NaN,175-2
2,2,5531550228324592939.xml,3,1.00,1.18,NaN,175-3
3,3,5531550228324592939.xml,4,1.19,2.05,NaN,175-4
4,4,5531550228324592939.xml,5,2.06,24.13,NaN,175-5

In [211]:
df = subtitles[['sid', 'filename', 'begin', 'end', 'transcript']].merge(
                descriptions[['sid', 'description']], on = 'sid', how='outer').merge(
                captions[['sid', 'caption']], on = ['sid'], how='outer').merge(
                df_chars_queries[['sid', 'chars_query']], on = ['sid'], how='outer').merge(
                df_chars_selected[['sid', 'selected_character']], on = ['sid'], how='outer').merge(
                df_chars_all[['sid', 'chars_all']], on = ['sid'], how='outer').fillna('')

In [212]:
df

,sid,filename,begin,end,transcript,description,caption,chars_query,selected_character,chars_all
0,175-1,5531550228324592939.xml,0.00,0.12,,,a man is riding a skateboard and doing tricks,,,
1,175-2,5531550228324592939.xml,0.13,0.24,,,a man is skateboarding down a ramp,,,
2,175-3,5531550228324592939.xml,1.00,1.18,,,a man is riding a skateboard and doing tricks,,,
3,175-4,5531550228324592939.xml,1.19,2.05,,,a car is driving on a track and then crashes i...,,,
4,175-5,5531550228324592939.xml,2.06,24.13,,,a bird is perched on a tree branch,,,
...,...,...,...,...,...,...,...,...,...,...
21207,185-1732,5555360238519252381.xml,5221.16,5226.10,Download the new release now from the Doctor ...,,a man is singing and dancing on stage,,,
21208,185-1733,5555360238519252381.xml,5226.11,5227.13,,,a person is holding a pair of scissors,,,
21209,185-1734,5555360238519252381.xml,5227.14,5229.08,,,a man is walking down a street and then turns ...,,,
21210,185-1735,5555360238519252381.xml,5229.09,5238.03,,,a person is riding a bike in a crowded place,Ryan,,
21211,185-1736,5555360238519252381.xml,5238.04,5239.00,,,a man is standing in front of a large crowd,,,

In [213]:
df[(df['description'] != '')]

,sid,filename,begin,end,transcript,description,caption,chars_query,selected_character,chars_all
119,175-120,5531550228324592939.xml,313.11,315.23,,DOOR SLAMS,a man is sitting on a bed and talking,Ryan,,
237,175-238,5531550228324592939.xml,679.15,688.00,,BABY CRIES,a man is dancing in a kitchen,,,
246,175-247,5531550228324592939.xml,746.20,750.16,"OK, we've got a limited target tonight, girls...",THEY LAUGH,a woman is dancing in front of a crowd,Ryan,,
262,175-263,5531550228324592939.xml,777.11,779.17,,THEY LAUGH,a man is dancing with a woman,Ryan,Ryan,
345,175-346,5531550228324592939.xml,990.16,991.16,,CRASHING AND GLASS BREAKING,a man is looking at something and then looks away,,,
...,...,...,...,...,...,...,...,...,...,...
21152,185-1677,5555360238519252381.xml,5081.22,5083.10,,MACHINE BLEEPS,a person holding a pair of scissors in each of...,,,
21154,185-1679,5555360238519252381.xml,5087.08,5091.13,Do you dare me?,MACHINE BLEEPS FASTER,a man is lying in bed and smiling,Janine,,
21158,185-1683,5555360238519252381.xml,5095.23,5098.11,,SHE SCREAMS ALARM ON MACHINE BLEEPS,a man is kissing a woman s forehead,,,
21159,185-1684,5555360238519252381.xml,5098.12,5105.03,"Bye-bye, Janine.",SHE STRUGGLES FOR BREATH,a man is talking to a woman and she is smiling,Ryan,Ryan,Ryan
21162,185-1687,5555360238519252381.xml,5108.02,5109.01,,ALARM CONTINUES,a cat is jumping into a room and falls,,,

In [214]:
df[df['transcript'] != '']['transcript'][:30]

6     Getting all dolled up, going somewhere nice to...
9                          Yeah, curry night at Dad's.
10    Wicked.  If you like yesterday's chicken with ...
12    In your condition it's nice to have  someone c...
13    My condition?  I'm pregnant, not paralysed. Ev...
15    I know. But look,  you've got to take it easy....
16    All right, "I ain't got  to take it anything."...
18    What it says it is, special night  at R&R's. H...
20    Yeah? What's happy about it?  Happy hour all n...
23       and I'm going to put it out there.  Yes, I am.
25    Sounds great.  So you coming tonight, then? Yo...
29                    Hi. I've not got an appointment.
30                     No, it's all right, no worries.
33    I'll be with you in a minute.  Just take a sea...
35               How about you, Janice?  R&R's tonight?
37    Happy Monday.  It'll be Miserable Monday if sh...
38    Oh, Kat, I didn't see you there  underneath al...
39    Not if she's going.  Oh, don't worry about me....
40    not Stacey.  You know, Kim, you should watch w...
41        She stays anywhere longer  than three minutes
43    and the council have to send in pest  control ...
47    I mean...  healthy, no problems?  Yeah. He was...
48    Because I was frightened  of what they might d...
50                                            Shut up.
51                                  Do you want to...?
52    Mason said that you'd gone to stay  with some ...
53               So not only did he muck up  our lives,
55             but Mason,  he ruined our kid's as well.
60           Hey.  What?  Just saying hello. All right?
62    How much are these?  Fiver. What, end of the d...
Name: transcript, dtype: object

In [215]:
df['content'] = df['transcript'] + ' ' + ' ' + df['description'] + ' ' +  df['chars_query']
df['content']

0
1
2
3
4
                               ...
21207    Download the new release now  from the Doctor ...
21208
21209
21210                                                 Ryan
21211
Name: content, Length: 21212, dtype: object

In [216]:
ps = PorterStemmer()
ls = LancasterStemmer()

In [217]:
ps.stem('kills')

'kill'

In [218]:
do_stem = True

vectorizer = TfidfVectorizer(min_df=3, stop_words='english')

corpus = [' '.join(ps.stem(w) for w in word_tokenize(s) if w.lower() not in vectorizer.get_stop_words()) if do_stem else s for s in df['content'].values]
corpus = [s.translate(str.maketrans('', '', string.punctuation)).replace('  ', ' ').lower() for s in corpus]


vectorizer.fit(corpus)
corpus_tf_idf = vectorizer.transform(corpus)

In [219]:
corpus[94]

'excus re go tonight re go good time tv new york knickerbock correct ryan stacey'

In [220]:
word_count = Counter([w for s in corpus for w in s.split()])
print(len(word_count))

4886

In [221]:
word_count

Counter({'get': 124,
         'doll': 2,
         'go': 828,
         'nice': 100,
         'tonight': 59,
         'ryan': 9089,
         'yeah': 1133,
         'curri': 10,
         'night': 138,
         'dad': 197,
         's': 3709,
         'wick': 6,
         'like': 662,
         'yesterday': 25,
         'chicken': 6,
         'tin': 8,
         'sauc': 1,
         'chuck': 9,
         'condit': 6,
         'cook': 25,
         'innit': 57,
         'm': 1050,
         'pregnant': 10,
         'paralys': 1,
         'carri': 18,
         'oi': 151,
         'babi': 103,
         're': 949,
         'talk': 228,
         'know': 1120,
         'look': 634,
         've': 888,
         'got': 805,
         'easi': 23,
         'ai': 342,
         'nt': 3103,
         'right': 1080,
         'come': 636,
         'say': 357,
         'special': 28,
         'r': 22,
         'happi': 94,
         'monday': 9,
         'hour': 48,
         'thomp': 1,
         'own': 2,
         'place': 76,
         'work': 129,
         'listen': 147,
         'close': 29,
         'sign': 16,
         'goe': 29,
         'squeez': 5,
         'delect': 1,
         'bodi': 7,
         'cling': 2,
         'ye': 116,
         'sound': 45,
         'great': 47,
         'think': 647,
         'bird': 11,
         'reek': 1,
         'jalfrezi': 1,
         'cramp': 2,
         'style': 5,
         'mayb': 109,
         'janin': 2823,
         'hi': 16,
         'appoint': 2,
         'worri': 105,
         'll': 737,
         'minut': 104,
         'just': 1244,
         'seat': 4,
         'laugh': 82,
         'janic': 5,
         'miser': 3,
         'show': 14,
         'face': 58,
         'oh': 644,
         'kat': 138,
         'did': 694,
         'underneath': 3,
         'makeup': 5,
         'sens': 21,
         'lot': 103,
         'sisterli': 1,
         'love': 338,
         'room': 46,
         'have': 87,
         'husband': 43,
         'marri': 56,
         'stacey': 2102,
         'kim': 13,
         'watch': 53,
         'let': 310,
         'stay': 94,
         'longer': 9,
         'council': 2,
         'send': 17,
         'pest': 2,
         'control': 13,
         'fumig': 2,
         'd': 378,
         'grownup': 3,
         'probabl': 69,
         'famili': 107,
         'mean': 274,
         'healthi': 3,
         'problem': 62,
         'perfect': 35,
         'tell': 358,
         'father': 45,
         'frighten': 5,
         'shut': 60,
         'want': 853,
         'mason': 2,
         'said': 236,
         'gone': 95,
         'distant': 3,
         'aunt': 3,
         'lie': 87,
         'sent': 18,
         'home': 120,
         'north': 1,
         'nicer': 4,
         'realli': 304,
         'kid': 108,
         'call': 53,
         'cockney': 1,
         'tart': 8,
         'week': 60,
         'born': 10,
         'took': 28,
         'away': 166,
         'muck': 6,
         'live': 69,
         'ruin': 25,
         'hey': 79,
         'hello': 77,
         'fiver': 7,
         'end': 64,
         'day': 175,
         'â£349': 1,
         'thank': 212,
         'jean': 45,
         'fanci': 34,
         'stace': 121,
         'charli': 37,
         'do': 223,
         'freez': 3,
         'taken': 19,
         'bottom': 1,
         'pan': 2,
         'time': 307,
         'went': 66,
         'crazi': 12,
         'scrub': 2,
         'bit': 250,
         'lippi': 1,
         'bright': 8,
         'light': 16,
         'walford': 14,
         'co': 161,
         'seen': 79,
         'eye': 51,
         'sweetheart': 31,
         'nan': 17,
         'bingo': 5,
         'need': 351,
         'lili': 141,
         'uncl': 23,
         'make': 303,
         'cookeri': 1,
         'book': 30,
         'leap': 1,
         'year': 100,
         'meant': 39,
         'line': 18,
         'load': 19,
         'oliv': 2,
         'twist': 13,
         'earli': 23,
         'start': 95,
         'morn': 74,
         'believ': 77,
         'sure': 143,
         'littl': 202,
         'rest': 27,
         'forgotten': 9,
         'fun': 35,
         'excus': 55,
         'good': 296,
         'tv': 21,
         'new': 87,
         'york': 2,
         'knickerbock': 1,
         'correct': 2,
         'and': 5,
         'question': 27,
         'game': 25,
         'tenni': 1,
         'whit': 32,
         'dinner': 19,
         'eat': 31,
         'pete': 13,
         'peter': 95,
         'beal': 24,
         'hang': 57,
         'doe': 209,
         'friend': 49,
         'billi': 177,
         'whitney': 59,
         'moment': 33,
         'feel': 151,
         'life': 106,
         'mum': 240,
         'door': 103,
         'slam': 7,
         'in': 1,
         'west': 6,
         'indi': 1,
         'feed': 12,
         'coupl': 55,
         'care': 108,
         'promis': 70,
         'better': 144,
         'proper': 25,
         'peopl': 104,
         'job': 72,
         'parent': 25,
         'kept': 13,
         'ya': 89,
         'chang': 90,
         'eh': 142,
         'old': 104,
         'selfpiti': 2,
         'skidmark': 2,
         'yo': 5,
         'shop': 39,
         'wrong': 80,
         'flower': 16,
         'beauti': 42,
         'wife': 60,
         'drink': 89,
         'thought': 234,
         'economi': 1,
         'drive': 17,
         'tomorrow': 37,
         'dyou': 91,
         'appar': 11,
         'chanc': 56,
         'bust': 5,
         'move': 18,
         'danc': 19,
         'floor': 12,
         'usual': 11,
         'high': 11,
         'street': 18,
         'sceneri': 2,
         'ca': 352,
         'hold': 61,
         'walk': 40,
         'round': 97,
         'squar': 24,
         'fault': 34,
         'stick': 34,
         'best': 77,
         'bath': 12,
         'type': 9,
         'join': 16,
         'wonder': 58,
         'fine': 121,
         'favour': 33,
         'woe': 1,
         'happen': 182,
         'lost': 33,
         'dead': 26,
         'gin': 7,
         'tonic': 4,
         'whiski': 6,
         'mix': 2,
         'bond': 2,
         'bovington': 1,
         'bobbi': 20,
         'moor': 3,
         'cours': 121,
         'byrn': 2,
         'player': 6,
         'alfi': 119,
         'readi': 51,
         'take': 53,
         'bonker': 4,
         'help': 126,
         'bar': 23,
         'run': 88,
         'serv': 8,
         'beer': 19,
         'clean': 24,
         'girl': 151,
         'nono': 1,
         'extra': 15,
         'poppadom': 2,
         'way': 139,
         'cellar': 3,
         'swollen': 2,
         'plate': 7,
         'mention': 11,
         'feet': 26,
         'catch': 21,
         'teeth': 3,
         'effort': 12,
         'fixtur': 2,
         'money': 136,
         'whoa': 21,
         'short': 16,
         'pay': 57,
         'geezer': 7,
         'fix': 12,
         'telli': 6,
         'await': 2,
         'bye': 25,
         'ask': 129,
         'babysit': 5,
         'meet': 42,
         'rice': 1,
         'aye': 8,
         'christian': 13,
         'sy': 25,
         'hip': 6,
         'cheeki': 9,
         'lager': 2,
         'orang': 13,
         'juic': 19,
         'woah': 8,
         'thirst': 1,
         'brush': 3,
         'manner': 3,
         'mind': 92,
         'busi': 93,
         'seven': 8,
         'quid': 51,
         'bunch': 1,
         'charmer': 1,
         'check': 42,
         'told': 138,
         'left': 64,
         'milk': 6,
         'fridg': 23,
         'fall': 15,
         'asleep': 5,
         'drunk': 16,
         'soon': 34,
         'wake': 20,
         'scream': 20,
         'enjoy': 24,
         'parti': 101,
         'neck': 19,
         'rememb': 51,
         'young': 30,
         'singl': 11,
         'woman': 53,
         'mamma': 2,
         'mate': 91,
         'sorri': 269,
         'late': 52,
         'notic': 19,
         'actual': 77,
         'wo': 158,
         'fit': 26,
         'ok': 274,
         'ere': 14,
         'luck': 16,
         'programm': 2,
         '1966': 1,
         '1967': 1,
         '1965': 1,
         'wow': 7,
         'brilliant': 8,
         'later': 108,
         'bomb': 2,
         'man': 129,
         'after': 3,
         'peach': 1,
         'cream': 8,
         'fantast': 10,
         'save': 28,
         'cri': 25,
         'real': 23,
         'ale': 1,
         'stuff': 86,
         'tast': 15,
         'atmospher': 1,
         'packag': 2,
         'hair': 24,
         'gym': 3,
         'pump': 5,
         'chest': 4,
         'tightest': 1,
         'sleev': 1,
         'roll': 19,
         'arm': 15,
         'effect': 1,
         'pick': 34,
         'bottl': 11,
         'flick': 1,
         'wrist': 2,
         'tricep': 1,
         'pop': 42,
         'gaff': 6,
         'scan': 2,
         'fittest': 1,
         'bloke': 36,
         'er': 62,
         'nurs': 5,
         'absolut': 14,
         'miss': 51,
         'describ': 2,
         'homophob': 1,
         'kiss': 32,
         'limit': 3,
         'target': 2,
         'focu': 4,
         'month': 31,
         'ago': 29,
         'greater': 2,
         'forget': 59,
         'breath': 19,
         'ladi': 35,
         'lovin': 1,
         'kimberleigh': 1,
         'harmoni': 1,
         'angelica': 1,
         'fox': 2,
         'continu': 11,
         'witch': 4,
         'eastwick': 1,
         'surpris': 49,
         'dog': 15,
         'slater': 38,
         'plan': 30,
         'nail': 2,
         'club': 13,
         'normal': 33,
         'came': 48,
         'market': 14,
         'stall': 38,
         'bought': 28,
         'guess': 21,
         'knew': 58,
         'sunshin': 4,
         'stop': 137,
         'paid': 11,
         'driven': 6,
         'play': 68,
         'quiet': 17,
         'noon': 37,
         'give': 28,
         'thing': 270,
         'differ': 29,
         'matter': 68,
         'mark': 7,
         'birth': 11,
         'struggl': 8,
         'point': 41,
         'given': 13,
         'em': 61,
         'preplan': 1,
         'hell': 13,
         'queu': 3,
         'carol': 61,
         'women': 25,
         'nearli': 23,
         'boy': 89,
         'patient': 1,
         'charg': 17,
         '50': 17,
         'liberti': 4,
         'damn': 4,
         'footi': 1,
         'hammer': 8,
         'sec': 15,
         'crash': 3,
         'glass': 25,
         'break': 28,
         'babe': 41,
         'complexion': 1,
         'drug': 14,
         'vice': 1,
         'chocol': 5,
         'wast': 19,
         'weed': 4,
         'speak': 28,
         'jealou': 17,
         'fag': 6,
         'hag': 2,
         'airport': 4,
         'loung': 1,
         'bet': 31,
         'desper': 8,
         'men': 27,
         'compani': 17,
         'spike': 2,
         'muslim': 8,
         'dare': 25,
         'mo': 28,
         'sleep': 28,
         'fast': 6,
         'worker': 7,
         'muscley': 1,
         'goodlook': 1,
         'set': 20,
         'sight': 12,
         'higher': 2,
         'person': 33,
         'pet': 2,
         'word': 77,
         'english': 2,
         'languag': 2,
         'commit': 3,
         'relationship': 11,
         'dark': 7,
         'hors': 12,
         'threw': 3,
         'act': 20,
         'pad': 12,
         'cell': 7,
         'name': 9,
         'die': 42,
         'squash': 2,
         'fair': 16,
         'touch': 25,
         'kenni': 3,
         'brown': 6,
         'johnni': 1,
         'sisson': 1,
         'follow': 12,
         'slammer': 1,
         'water': 21,
         'footbal': 6,
         'punter': 8,
         'even': 12,
         'pat': 96,
         'troubl': 28,
         'shame': 23,
         'wine': 15,
         'hate': 25,
         'dizzi': 1,
         'stage': 3,
         'bu': 8,
         'blame': 24,
         'favourit': 10,
         'hous': 82,
         'saint': 3,
         'lord': 5,
         'dress': 24,
         'spend': 48,
         'offer': 30,
         'hard': 43,
         'appl': 4,
         'instead': 11,
         'finish': 28,
         'clear': 44,
         'outsid': 14,
         'suppos': 83,
         'weasel': 3,
         'biggun': 1,
         'ooh': 26,
         'mitchel': 67,
         'sit': 61,
         'dagger': 2,
         'keep': 19,
         'june': 1,
         'smoke': 7,
         'knee': 7,
         'deep': 9,
         'nappi': 9,
         'back': 2,
         'reli': 4,
         'put': 22,
         'quieten': 2,
         'bianca': 68,
         'vodka': 11,
         'order': 23,
         'drama': 3,
         'retch': 1,
         'silli': 18,
         'cow': 26,
         'purpos': 5,
         'loosen': 2,
         'alcohol': 3,
         'bang': 31,
         'rox': 18,
         'leav': 139,
         'boyfriend': 9,
         'partner': 6,
         'cool': 16,
         'christmas': 8,
         'gullibl': 1,
         'ole': 1,
         'upset': 24,
         'swing': 3,
         'wash': 19,
         'grab': 9,
         'bucket': 6,
         'towel': 3,
         'outliv': 1,
         'final': 14,
         'second': 39,
         'ricki': 37,
         'guy': 11,
         'cough': 8,
         'film': 8,
         'stori': 14,
         'gang': 3,
         'long': 82,
         'sing': 31,
         'â£1450': 2,
         'brotherhood': 1,
         'landlord': 2,
         'free': 27,
         'member': 7,
         'buy': 60,
         'roxi': 60,
         'flamin': 8,
         'kill': 70,
         'gag': 2,
         'respons': 9,
         'wait': 90,
         'scare': 39,
         'local': 6,
         'sad': 9,
         'knock': 49,
         'big': 82,
         'tri': 183,
         'mother': 34,
         'vulner': 4,
         'toe': 1,
         'rag': 1,
         'red': 27,
         'bee': 15,
         'stupid': 53,
         'scrubber': 3,
         'wear': 24,
         'belt': 5,
         'materi': 2,
         'eventu': 2,
         'poor': 22,
         'soul': 8,
         'turn': 74,
         'institut': 1,
         'bell': 10,
         'nothin': 1,
         'lowlif': 4,
         'scum': 3,
         'hand': 68,
         'tough': 14,
         'roof': 8,
         'bradley': 85,
         'far': 26,
         'polic': 31,
         'siren': 6,
         'shout': 26,
         'fight': 15,
         'groan': 4,
         'understand': 67,
         'risk': 10,
         'prison': 11,
         'train': 12,
         'pass': 21,
         'manhandl': 1,
         'lock': 26,
         'desk': 1,
         'pill': 6,
         'hardli': 21,
         'offic': 12,
         'sergeant': 1,
         'ooooh': 1,
         'major': 2,
         'disorderli': 1,
         'incid': 1,
         'intern': 1,
         'afraid': 6,
         'hooligan': 1,
         'caus': 11,
         'aggro': 1,
         'hit': 32,
         'copper': 4,
         'throw': 25,
         'aim': 3,
         'wall': 14,
         'properli': 13,
         'bed': 40,
         'near': 12,
         'known': 13,
         'plug': 6,
         'plasma': 3,
         'dri': 9,
         'blood': 17,
         'hint': 2,
         'vomit': 2,
         'wors': 15,
         'whistl': 7,
         'trick': 11,
         'demand': 5,
         'somebodi': 13,
         'nut': 11,
         'bum': 4,
         'sore': 2,
         'use': 70,
         'sterilis': 2,
         'throat': 8,
         'privaci': 1,
         'concern': 7,
         'interest': 32,
         'aliv': 8,
         'murder': 23,
         'deserv': 33,
         'stranger': 7,
         'flat': 19,
         'salmonella': 1,
         'citi': 3,
         'filth': 2,
         'decid': 24,
         'scar': 6,
         'appendix': 1,
         '1978': 1,
         'goodun': 2,
         '1974': 1,
         'fell': 11,
         'gulley': 2,
         'juli': 43,
         'push': 34,
         'smash': 4,
         'anderson': 1,
         'shelter': 1,
         'total': 9,
         'overgrown': 1,
         'camp': 2,
         'kit': 5,
         'bob': 6,
         'lampshad': 1,
         'shade': 1,
         'comfi': 2,
         'chair': 5,
         'cave': 3,
         'barrel': 5,
         'stuck': 14,
         'school': 11,
         'booki': 5,
         'pub': 34,
         'starv': 4,
         'slung': 1,
         'children': 17,
         'punch': 5,
         'key': 16,
         'rattl': 4,
         'unlock': 4,
         'examin': 3,
         'beard': 2,
         'rash': 5,
         'laughter': 14,
         'medic': 2,
         'gave': 29,
         'daughter': 54,
         'malloy': 11,
         'tragedi': 2,
         'bad': 64,
         'lift': 8,
         'wild': 5,
         'pack': 13,
         'sun': 5,
         'shine': 2,
         'funni': 33,
         'jay': 46,
         'horror': 3,
         'zombi': 1,
         'vampir': 1,
         'meself': 3,
         'monster': 3,
         'fang': 1,
         'smile': 17,
         'worst': 13,
         'beat': 14,
         'pulp': 1,
         'entitl': 5,
         'solicitor': 2,
         'inform': 7,
         'dot': 63,
         'number': 9,
         'worth': 31,
         'swear': 27,
         'lay': 12,
         'finger': 19,
         'guard': 4,
         'growl': 1,
         'ssh': 3,
         'gurgl': 5,
         'age': 35,
         'intensifi': 1,
         'phone': 103,
         'ring': 96,
         'noisi': 1,
         'neighbour': 4,
         'open': 71,
         'grief': 9,
         'spirit': 12,
         'pc': 3,
         'green': 8,
         'press': 8,
         'bruis': 3,
         'paperwork': 2,
         'racket': 3,
         'gobbi': 4,
         'news': 15,
         'whoop': 5,
         'doo': 1,
         'whing': 4,
         'cope': 11,
         'birthday': 51,
         'cuddl': 5,
         'christma': 149,
         'allerg': 2,
         'nephew': 2,
         'jami': 1,
         'batter': 3,
         'reason': 31,
         'swore': 5,
         'memori': 6,
         'lash': 2,
         'lump': 2,
         'blend': 1,
         'background': 2,
         'spent': 6,
         'graft': 2,
         'find': 14,
         'alf': 3,
         'shush': 3,
         'jibberjabb': 1,
         'interrupt': 3,
         'hide': 19,
         'giggl': 13,
         'patricia': 1,
         'brotherinlaw': 1,
         'blimey': 5,
         'past': 14,
         'sordid': 1,
         'motherinlaw': 1,
         'lou': 3,
         'starker': 1,
         'pair': 13,
         'pink': 2,
         'furri': 1,
         'ear': 15,
         'bunni': 1,
         'rage': 1,
         'bundl': 2,
         'wardrob': 6,
         'patti': 1,
         'slept': 4,
         'celebr': 15,
         'met': 12,
         'cari': 1,
         'grant': 4,
         'judg': 14,
         'fame': 1,
         'academi': 1,
         'star': 8,
         'heard': 52,
         'terribl': 14,
         'handl': 16,
         'window': 15,
         'stand': 38,
         'stare': 3,
         'alik': 1,
         'dunno': 24,
         'blank': 4,
         'yacht': 3,
         'summer': 4,
         'fli': 8,
         'fish': 5,
         'vicent': 1,
         'cocktail': 3,
         'deck': 4,
         'sail': 2,
         'mont': 1,
         'carlo': 1,
         'dolli': 2,
         'jacuzzi': 1,
         'hola': 1,
         'mucho': 1,
         'calor': 1,
         'pea': 2,
         'pod': 2,
         'opposit': 2,
         'complet': 15,
         'younger': 6,
         'sister': 34,
         'abandon': 4,
         'massiv': 8,
         'meltdown': 1,
         'agre': 19,
         'twin': 4,
         'clap': 3,
         'mm': 8,
         'engag': 3,
         'dirti': 17,
         'rapist': 4,
         'princess': 4,
         'forgav': 3,
         'ogr': 3,
         'stubbl': 2,
         'woken': 2,
         'mobil': 24,
         'teach': 6,
         'lesson': 3,
         'wise': 1,
         'kind': 43,
         'selfish': 6,
         'forgiv': 18,
         'owe': 16,
         'useless': 10,
         'read': 25,
         'song': 9,
         'uhoh': 2,
         'mistak': 21,

In [222]:
corpus_tf_idf.shape

(21212, 1913)

In [223]:
print(len(vectorizer.get_stop_words()))
', '.join(sorted(vectorizer.get_stop_words()))

318

'a, about, above, across, after, afterwards, again, against, all, almost, alone, along, already, also, although, always, am, among, amongst, amoungst, amount, an, and, another, any, anyhow, anyone, anything, anyway, anywhere, are, around, as, at, back, be, became, because, become, becomes, becoming, been, before, beforehand, behind, being, below, beside, besides, between, beyond, bill, both, bottom, but, by, call, can, cannot, cant, co, con, could, couldnt, cry, de, describe, detail, do, done, down, due, during, each, eg, eight, either, eleven, else, elsewhere, empty, enough, etc, even, ever, every, everyone, everything, everywhere, except, few, fifteen, fifty, fill, find, fire, first, five, for, former, formerly, forty, found, four, from, front, full, further, get, give, go, had, has, hasnt, have, he, hence, her, here, hereafter, hereby, herein, hereupon, hers, herself, him, himself, his, how, however, hundred, i, ie, if, in, inc, indeed, interest, into, is, it, its, itself, keep, last, latter, latterly, least, less, ltd, made, many, may, me, meanwhile, might, mill, mine, more, moreover, most, mostly, move, much, must, my, myself, name, namely, neither, never, nevertheless, next, nine, no, nobody, none, noone, nor, not, nothing, now, nowhere, of, off, often, on, once, one, only, onto, or, other, others, otherwise, our, ours, ourselves, out, over, own, part, per, perhaps, please, put, rather, re, same, see, seem, seemed, seeming, seems, serious, several, she, should, show, side, since, sincere, six, sixty, so, some, somehow, someone, something, sometime, sometimes, somewhere, still, such, system, take, ten, than, that, the, their, them, themselves, then, thence, there, thereafter, thereby, therefore, therein, thereupon, these, they, thick, thin, third, this, those, though, three, through, throughout, thru, thus, to, together, too, top, toward, towards, twelve, twenty, two, un, under, until, up, upon, us, very, via, was, we, well, were, what, whatever, when, whence, whenever, where, whereafter, whereas, whereby, wherein, whereupon, wherever, whether, which, while, whither, who, whoever, whole, whom, whose, why, will, with, within, without, would, yet, you, your, yours, yourself, yourselves'

In [224]:
tfidf_weights = dict(zip(vectorizer.get_feature_names(), vectorizer.idf_))

In [225]:
tfidf_weights['rape']

9.170610011044296

In [226]:
tfidf_weights['man']

6.134055742970049

In [227]:
tfidf_weights['zealand']

9.352931567838251

In [228]:
summaries_raw = [s for ep in eps for s in mentions[ep]['marked']]
summaries_raw = [' '.join(w[1:] if w[0] in ['@', '#', '~'] else w for w in s.split(' ')) for s in summaries_raw]
summaries_raw[:10]

['Kat persuades Stacey and Jean to come to R&R with Kat and Kim , leaving Charlie and Alfie to look after Lily',
 'Janine accuses Ryan of wanting to go to R&R because R&R knew Stacey would be there',
 'Ryan denies it and leaves , Janine stays in the club',
 'Julie explains that Janine was moved to another home when pregnant , their baby was taken away a week after Janine gave birth',
 'Stacey realises Billy ’s upset Stacey mum , Janine and Kat get drawn into their argument before Alfie steps in',
 'Giving Lily to Ryan , Pat follows Bianca into the club , worried',
 'Billy then turns on Stacey , who hits Billy',
 'Janine pulls out a chunk of Stacey ’s hair',
 'Kat and Janine hit each other',
 'Kim , Kat , Stacey , Pat and Janine are shut in a cell together']

In [229]:
summaries = [' '.join(ps.stem(w) for w in word_tokenize(s) if w.lower() not in vectorizer.get_stop_words()) if do_stem else s for s in summaries_raw]
summaries = [s.translate(str.maketrans('', '', string.punctuation)).replace('  ', ' ') for s in summaries]

summaries[:10]

['kat persuad stacey jean come R R kat kim leav charli alfi look lili',
 'janin accus ryan want R R R R knew stacey',
 'ryan deni leav janin stay club',
 'juli explain janin move home pregnant babi taken away week janin gave birth',
 'stacey realis billi ’ s upset stacey mum janin kat drawn argument alfi step',
 'give lili ryan pat follow bianca club worri',
 'billi turn stacey hit billi',
 'janin pull chunk stacey ’ s hair',
 'kat janin hit',
 'kim kat stacey pat janin shut cell']

In [230]:
def compute_similarity(content, summary_line, method):
    if method[0] == 'tfidf':
        weights = method[1]
        return sum(weights[w] if w in weights else 0 for w in set(content.split()) if w in summary_line.split())
    if method[0] == 'tfidf_log':
        weights = method[1]
        dn = np.log(len(content.split() + summary_line.split()) + 1) if len(content.strip().split()) > 0 else 1
        return sum(weights[w] if w in weights else 0 for w in set(content.split()) if w in summary_line.split())/dn
    if method[0] == 'tfidf_log_2':
        weights = method[1]
        n = sum(1 if w in weights else 0 for w in set(content.split()) if w in summary_line.split())
        dn = np.log(len(content.split() + summary_line.split()) - n + 1) 
        dn = dn if dn > 0 else 1
        return sum(weights[w] if w in weights else 0 for w in set(content.split()) if w in summary_line.split())/dn
    if method[0] == 'tfidf_log_3':
        weights = method[1]
        n = sum(1 if w in weights else 0 for w in set(content.split()) if w in summary_line.split())
        dn = np.log10(len(content.split() + summary_line.split()) - n + 1) 
        dn = dn if dn > 0 else 1
        return sum(weights[w] if w in weights else 0 for w in set(content.split()) if w in summary_line.split())/dn
    if method[0] == 'tfidf_sqrt':
        weights = method[1]
        n = sum(1 if w in weights else 0 for w in set(content.split()) if w in summary_line.split())
        dn = np.sqrt(len(content.split() + summary_line.split()) - n + 1) 
        dn = dn if dn > 0 else 1
        return sum(weights[w] if w in weights else 0 for w in set(content.split()) if w in summary_line.split())/dn
    elif method[0] == 'count':
        return len([w for w in set(content.split()) if w in summary_line.split()])
    elif method[0] == 'count_2':
        dn = np.log(len(content.split() + summary_line.split()) + 1) 
        dn = dn if dn > 0 else 1
        return len([w for w in set(content.split()) if w in summary_line.split()]) / dn

In [231]:
compute_similarity('No more excus . a woman is talk to a man and he is smile TV : ryan stacey',
                   'kat persuad stacey and jean to come to R & R with kat and kim , leav charli and alfi to look after lili',
                    method=('tfidf', tfidf_weights)), compute_similarity('No more excus . a woman is talk to a man and he is smile TV : ryan stacey',
                   'kat persuad stacey and jean to come to R & R with kat and kim , leav charli and alfi to look after lili',
                    method=('count',))

(3.337750494112952, 3)

In [232]:
tfidf_weights['stacey']

3.337750494112952

In [233]:
%%time
similarity_matrix_count = np.zeros((len(df), len(summaries)))
for i, content in tqdm(enumerate(corpus), total=len(corpus)):
    for j, s in enumerate(summaries):
        similarity_matrix_count[i, j] = compute_similarity(content, s, method=('count',))

HBox(children=(FloatProgress(value=0.0, max=21212.0), HTML(value='')))

CPU times: user 29.4 s, sys: 117 ms, total: 29.5 s
Wall time: 29.7 s

In [234]:
unrolled_sm_count = [(similarity_matrix_count[i, j], i, j)  for i in range(21212) for j in range(388)]
best_matches_count = sorted(unrolled_sm_count, key=lambda x: -x[0])

In [235]:
best_matches_count[0]

(10.0, 3614, 36)

In [236]:
for v, i, j in best_matches_count[:3]:
    print(df['content'].iloc[i])
    print(summaries_raw[j])
    print(v)
    print(list(w for w in set(summaries[j].split()) if w in corpus[i].split()))

Janine let you out then?  She doesn't own me. Good. I'm going down the Town Hall to  get Lily's birth certificate changed. Why today?  Cos I'm working after. Come on, you, me and Lily. It'll be fun.  All right?   Ryan Stacey
Stacey tells Ryan Stacey ’s going to change Lily ’s birth certificate - if Ryan ’s serious about Ryan daughter , Ryan ’ll come
10.0
['chang', 'stacey', 'ryan', 'go', 'certif', 'lili', 's', 'll', 'birth', 'come']
Can you just let it go?  I can't. It's over, babe. It's history.  I know it was her. How do you know?  How can you possibly know that? If it wasn't Bradley and it  wasn't you, it has to be her. What, is that it?  Why else was he running away from the police that night? He must've been protecting Stacey.  If you go round shouting about this, you'll ruin an innocent girl's life. Why can't you just admit it?  What do you want me to admit?  What, Archie Mitchell was a nasty  piece of work? Yeah, course he was. And loads of people had  a beef with him, Lauren, but Stacey weren't one of them.    Ryan Janine
Ryan’s refuses to drive Stacey to the airport and ca n’t believe Stacey ’s going to let whoever Stacey ’s running away from win
7.0
['ryan', 'stacey', 'away', 's', 'ca', 'let', 'run']
Of course I don't mind. So anyway,  you going to tell me about what this money-spinner is? No, because Phil would  have my scalp for a duster. You're acting like  it's the Italian Job. He probably just wants you  to oil his wrench. That's classic Janine, that.  When in doubt, fire out an insult. I never thought that you'd get  so predictable. Is Stacey as predictable as me?  Tired.   Ryan Janine
In the barrel store , Stacey tells Ryan Stacey ’s changed Stacey mind , Stacey just wants them to have an affair
7.0
['stacey', 'ryan', 'just', 'tell', 'mind', 'want', 's']

In [237]:
# similarity_matrix_tfidf = similarity_matrix

In [238]:
%%time
similarity_matrix_tfidf = np.zeros((len(df), len(summaries)))
for i, content in tqdm(enumerate(corpus), total=len(corpus)):
    for j, s in enumerate(summaries):
        similarity_matrix_tfidf[i, j] = compute_similarity(content, s, method=('tfidf_log_2', tfidf_weights))

HBox(children=(FloatProgress(value=0.0, max=21212.0), HTML(value='')))

CPU times: user 1min 37s, sys: 387 ms, total: 1min 37s
Wall time: 1min 38s

In [239]:
np.max(similarity_matrix_tfidf)

15.975222291317356

In [240]:
similarity_matrix_tfidf.shape

(21212, 388)

In [241]:
unrolled_sm = [(similarity_matrix_tfidf[i, j], i, j) for i in range(21212) for j in range(388)]
best_matches = sorted(unrolled_sm, key=lambda x: -x[0])

In [242]:
best_matches[:10]

[(15.975222291317356, 6983, 64),
 (13.910569594982768, 940, 12),
 (11.96736503631256, 3614, 36),
 (11.222736383738184, 19791, 299),
 (11.222736383738184, 19791, 373),
 (10.818253525815793, 6575, 59),
 (10.700604880163784, 1771, 26),
 (10.502068075280782, 8165, 299),
 (10.502068075280782, 8165, 373),
 (10.140584904299763, 14552, 204)]

In [243]:
for v, i, j in best_matches[:20]:
    print(i, df['content'].iloc[i])
    print(j, summaries_raw[j])
    print()

6983 I said "stop talking"!  You killed Archie. And you as good  as pushed Bradley off the roof too.
64 Lauren accuses Stacey of not just killing Archie , but as good as pushing Bradley off the roof

940 had a baby with somebody  else's husband. Yeah? I've never been  engaged to a dirty old rapist.   Stacey
12 When Janine taunts Stacey , Stacey blurts out ‘ I ’ve never been engaged to a dirty old rapist ’

3614 Janine let you out then?  She doesn't own me. Good. I'm going down the Town Hall to  get Lily's birth certificate changed. Why today?  Cos I'm working after. Come on, you, me and Lily. It'll be fun.  All right?   Ryan Stacey
36 Stacey tells Ryan Stacey ’s going to change Lily ’s birth certificate - if Ryan ’s serious about Ryan daughter , Ryan ’ll come

19791 You didn't kill Archie?    Stacey
299 Stacey tells them she did kill Archie

19791 You didn't kill Archie?    Stacey
373 Stacey tells them she did kill Archie

6575 # Nothing more, nothing less  Love is the best... # You all right?  I know. Archie Mitchell's killer. I've  worked it out. Your precious Stacey.   Ryan Janine Stacey
59 Lauren tells Max she ’s worked it out – Stacey precious Stacey is Archie ’s killer .

1771 I agreed to let you  look after Lily for the day. I know, but she does live here.   Ryan
26 Stacey agrees to let Ryan look after Lily , but is adamant Stacey does n’t want Janine involved

8165 STACEY:  'I did it. I killed Archie.   Ryan Stacey
299 Stacey tells them she did kill Archie

8165 STACEY:  'I did it. I killed Archie.   Ryan Stacey
373 Stacey tells them she did kill Archie

14552 When are you going  to New Zealand, Pat?
204 Pat decides not to go to New Zealand , people need Janine here

20456 Stacey Slater. Her name is Stacey  Slater. She tried to kill me.
303 Janine tells them Stacey Slater tried to kill Janine

20456 Stacey Slater. Her name is Stacey  Slater. She tried to kill me.
377 Janine tells them Stacey Slater tried to kill Janine

14621 They're planning  a dirty weekend away.
185 Stacey and Ryan plan to go away for the weekend together

19350 You killed Archie    Stacey
67 Stacey admits Stacey killed Archie

19350 You killed Archie    Stacey
299 Stacey tells them she did kill Archie

19350 You killed Archie    Stacey
373 Stacey tells them she did kill Archie

19791 You didn't kill Archie?    Stacey
275 Distraught , Stacey eventually confesses that Janine did kill Archie

19791 You didn't kill Archie?    Stacey
349 Distraught , Stacey eventually confesses that Janine did kill Archie

14743 Any time you need me, you know  where I am. Please, Janine. Please?  You've dropped your bombshell,  Pat, why don't you just fly off to New Zealand and enjoy  yourself with your real family. I don't know why I bother  caring about you.   Ryan Janine
204 Pat decides not to go to New Zealand , people need Janine here

6667 I know you want nice little neat  answers. Life's not like that. Don't patronise me.  I'm not a kid any more. Then you should know you can't go  jumping to conclusions and calling it the truth cos that's  what you want to hear. Swear on my life  that it wasn't Stacey. I swear...  on your life...  that Stacey never killed  Archie Mitchell.   Janine
264 Janine plays the recording and hears Stacey confess , Janine killed Archie Mitchell

# Making the cut

In [249]:
best_matches[:5]

[(15.975222291317356, 6983, 64),
 (13.910569594982768, 940, 12),
 (11.96736503631256, 3614, 36),
 (11.222736383738184, 19791, 299),
 (11.222736383738184, 19791, 373)]

In [250]:
score = {}
for (v, s, l) in best_matches:
    if s not in score : score[s] = []
    score[s].append(1)
for s in score:
    score[s] = sum(score[s])

In [251]:
reses = sorted(score.items(), key=lambda x: -x[1])

In [252]:
votes_selection = {c:[] for c in ['Janine', 'Ryan', 'Stacey']}
votes_durations = {c:[] for c in ['Janine', 'Ryan', 'Stacey']}

for char in votes_selection:
    print(char.upper() + ' =====>')
    counter = 1
    for s in reses:
        if char in df['content'].iloc[s[0]]:
            print(df['content'].iloc[s[0]])
            votes_selection[char].append(df['sid'].iloc[s[0]])
            votes_durations[char].append(df['end'].iloc[s[0]] - df['begin'].iloc[s[0]])
        if len(votes_selection[char]) == 20: 
            break

JANINE =====>
Janine let you out then?  She doesn't own me. Good. I'm going down the Town Hall to  get Lily's birth certificate changed. Why today?  Cos I'm working after. Come on, you, me and Lily. It'll be fun.  All right?   Ryan Stacey
# Nothing more, nothing less  Love is the best... # You all right?  I know. Archie Mitchell's killer. I've  worked it out. Your precious Stacey.   Ryan Janine Stacey
Any time you need me, you know  where I am. Please, Janine. Please?  You've dropped your bombshell,  Pat, why don't you just fly off to New Zealand and enjoy  yourself with your real family. I don't know why I bother  caring about you.   Ryan Janine
I know you want nice little neat  answers. Life's not like that. Don't patronise me.  I'm not a kid any more. Then you should know you can't go  jumping to conclusions and calling it the truth cos that's  what you want to hear. Swear on my life  that it wasn't Stacey. I swear...  on your life...  that Stacey never killed  Archie Mitchell.   Janine
Look, whoever finds  the best Christmas present wins.   Janine
All right, Connor's fit.  He likes me. I like him. He's a lowlife, Whitney.    Ryan Janine
What's with the car?  Well, I fancied a little trip.  You know, just to get away from  everything. I've packed you a bag.   Janine
Oh, you don't want go wasting your  money on me. It's not my money. It's Phil Mitchell's.  Come again? He's sent Ryan away on  some job this weekend. Should be worth a  few hundred I reckon.   Janine Stacey
Janine locked you in the fridge?  With a beef carcass.   Ryan
First you don't want Lily,  then you do. First you do want me to stop,  then you don't. Have you ever meant it  when you've said you love me? Yep, I married you because  I loved you. Now just move the car. And do you still love me?  Just start the car, Janine! No, not until you tell me the truth.    Ryan Janine
Only house you get invited for  dinner, you have to cook it yourself. It's all right, ain't it?!   Ryan Janine
So you either leave Janine  and be with me,   Ryan
Has anyone seen Stacey Slater?  Are you going  to tell him or shall I?   Janine
Even when you locked him  in a flippin' fridge.   Janine
What about her?  Are you getting her a Christmas present?   Ryan Janine
Turn that off!  PAT: What are you playing at? Look, your grandfather is asleep.  It ain't my grandfather's funeral.   Ryan Janine
You're supposed to be  covering Ryan's shift. Do I have to hold your hand?    Ryan Janine
Alfie was so sweet earlier,  wasn't he, with the football? Must be really hard on your own.  I mean, kids really need  their dads, don't they? Lily's got a dad. Your husband.   Ryan Janine Stacey
Was it you? Did you kill our father?    Janine Stacey
D'you want a tea as well? Yeah?  What's all that?  Got some new decorations  for the tree, for Bobby.   Ryan Janine Stacey
RYAN =====>
Janine let you out then?  She doesn't own me. Good. I'm going down the Town Hall to  get Lily's birth certificate changed. Why today?  Cos I'm working after. Come on, you, me and Lily. It'll be fun.  All right?   Ryan Stacey
# Nothing more, nothing less  Love is the best... # You all right?  I know. Archie Mitchell's killer. I've  worked it out. Your precious Stacey.   Ryan Janine Stacey
I agreed to let you  look after Lily for the day. I know, but she does live here.   Ryan
STACEY:  'I did it. I killed Archie.   Ryan Stacey
Any time you need me, you know  where I am. Please, Janine. Please?  You've dropped your bombshell,  Pat, why don't you just fly off to New Zealand and enjoy  yourself with your real family. I don't know why I bother  caring about you.   Ryan Janine
Morning, Lauren.  Are you OK?  Fine. Brilliant. Shouldn't I be?  What I said.  About what?  Don't play games with me. About Bradley. I'm fine. Good. I'm right, though, aren't I? If, you  know, Bradley didn't kill Archie... it's cos you know who did.   Ryan
Last night...  I don't care. Really? Well, then,  where you been all day? I've been trying to think things  through and get my head straight. Ryan, I lied to you.  I know, it doesn't matter. I don't care.  I don't care that you killed Archie.   Stacey
Well, he was plotting with Kat to  go and see Stacey! I know he was. Well, that's no reason to  shut him in a fridge like a leftover bit of brisket!   Ryan
I want to surprise Ryan.  Oh, do you?  I don't know...  I've got stuff to do. Simon phoned. He's invited me  to New Zealand for Christmas.
All right, Connor's fit.  He likes me. I like him. He's a lowlife, Whitney.    Ryan Janine
I'll do that, just go and get some  inspiration for the Argee Bhajee. There's too much to do, Masood.   Ryan
Oh, you don't want go wasting your  money on me. It's not my money. It's Phil Mitchell's.  Come again? He's sent Ryan away on  some job this weekend. Should be worth a  few hundred I reckon.   Janine Stacey
D'you know where she is?  No. Alfie, tell me. Ryan, I don't know anything.  Please. Listen, you've not heard  it from me OK, but Kat does.   Ryan
Janine locked you in the fridge?  With a beef carcass.   Ryan
First you don't want Lily,  then you do. First you do want me to stop,  then you don't. Have you ever meant it  when you've said you love me? Yep, I married you because  I loved you. Now just move the car. And do you still love me?  Just start the car, Janine! No, not until you tell me the truth.    Ryan Janine
So, you decided to stay then?  I didn't want to leave  any unfinished business. Yeah? Any business in particular?  What do you think?  Stace, a shot of rum  and a bottle of beer, please.   Ryan Stacey
Only house you get invited for  dinner, you have to cook it yourself. It's all right, ain't it?!   Ryan Janine
He said that Bradley  didn't kill Archie.   Ryan
I need the weekend off.  What for?  I'm going away for the weekend with Ryan.   Stacey
So you either leave Janine  and be with me,   Ryan
STACEY =====>
had a baby with somebody  else's husband. Yeah? I've never been  engaged to a dirty old rapist.   Stacey
Janine let you out then?  She doesn't own me. Good. I'm going down the Town Hall to  get Lily's birth certificate changed. Why today?  Cos I'm working after. Come on, you, me and Lily. It'll be fun.  All right?   Ryan Stacey
You didn't kill Archie?    Stacey
# Nothing more, nothing less  Love is the best... # You all right?  I know. Archie Mitchell's killer. I've  worked it out. Your precious Stacey.   Ryan Janine Stacey
STACEY:  'I did it. I killed Archie.   Ryan Stacey
Stacey Slater. Her name is Stacey  Slater. She tried to kill me.
You killed Archie    Stacey
I know you want nice little neat  answers. Life's not like that. Don't patronise me.  I'm not a kid any more. Then you should know you can't go  jumping to conclusions and calling it the truth cos that's  what you want to hear. Swear on my life  that it wasn't Stacey. I swear...  on your life...  that Stacey never killed  Archie Mitchell.   Janine
But then Dot said that Stacey's  going away for the weekend.   Stacey
Last night...  I don't care. Really? Well, then,  where you been all day? I've been trying to think things  through and get my head straight. Ryan, I lied to you.  I know, it doesn't matter. I don't care.  I don't care that you killed Archie.   Stacey
Well, he was plotting with Kat to  go and see Stacey! I know he was. Well, that's no reason to  shut him in a fridge like a leftover bit of brisket!   Ryan
How do you mean?  Well, I'd get my mum to have Lily and then me and you could spend the weekend  without looking over our shoulders.   Stacey
Oh, you don't want go wasting your  money on me. It's not my money. It's Phil Mitchell's.  Come again? He's sent Ryan away on  some job this weekend. Should be worth a  few hundred I reckon.   Janine Stacey
I'm begging you, please,  can you just trust me? I don't get why you can't tell  me the truth? I'm sorry, Lauren. I promised I wouldn't.   Stacey
So, you decided to stay then?  I didn't want to leave  any unfinished business. Yeah? Any business in particular?  What do you think?  Stace, a shot of rum  and a bottle of beer, please.   Ryan Stacey
I need the weekend off.  What for?  I'm going away for the weekend with Ryan.   Stacey
You was in the barrel store  with him last night. Don't try and deny it.    Stacey
I'll have a glass  of white wine, please. Drink. Lovely.    Stacey
Has anyone seen Stacey Slater?  Are you going  to tell him or shall I?   Janine
Jean, I know it must have been  a bit of a shock in the pub.   Ryan Stacey

In [256]:
top_selection = {c:[] for c in ['Janine', 'Ryan', 'Stacey']}
top_durations = {c:[] for c in ['Janine', 'Ryan', 'Stacey']}
top_times     = {c:[] for c in ['Janine', 'Ryan', 'Stacey']}

for char in top_selection:
    print(char.upper() + ' =====>')
    counter = 1
    seen = set()
    for (v, s, l) in best_matches:
        if s not in seen and char in df['content'].iloc[s] + df['chars_query'].iloc[s]:
            sentence = df['transcript'].iloc[s].strip()
            print(sentence)
            
            top_selection[char].append(df['sid'].iloc[s])
            top_durations[char].append(round(df['end'].iloc[s] - df['begin'].iloc[s], 2))
            top_times[char].append((df['begin'].iloc[s], df['end'].iloc[s]))

            seen.add(s)
            while sentence and sentence[-1] not in ['.', '?', '!', "'"]:
                s += 1
                sentence = df['transcript'].iloc[s].strip()
                if sentence == '':
                    break
                print(' ++++ ', sentence)

                top_selection[char].append(df['sid'].iloc[s])
                top_durations[char].append(round(df['end'].iloc[s] - df['begin'].iloc[s], 2))
                top_times[char].append((df['begin'].iloc[s], df['end'].iloc[s]))
                seen.add(s)
                counter +=1
                
            counter += 1
        
        if len(seen) >= 20: 
            break

JANINE =====>
Janine let you out then?  She doesn't own me. Good. I'm going down the Town Hall to  get Lily's birth certificate changed. Why today?  Cos I'm working after. Come on, you, me and Lily. It'll be fun.  All right?
# Nothing more, nothing less  Love is the best... # You all right?  I know. Archie Mitchell's killer. I've  worked it out. Your precious Stacey.
Any time you need me, you know  where I am. Please, Janine. Please?  You've dropped your bombshell,  Pat, why don't you just fly off to New Zealand and enjoy  yourself with your real family. I don't know why I bother  caring about you.
I know you want nice little neat  answers. Life's not like that. Don't patronise me.  I'm not a kid any more. Then you should know you can't go  jumping to conclusions and calling it the truth cos that's  what you want to hear. Swear on my life  that it wasn't Stacey. I swear...  on your life...  that Stacey never killed  Archie Mitchell.
Look, whoever finds  the best Christmas present wins.
All right, Connor's fit.  He likes me. I like him. He's a lowlife, Whitney.
What's with the car?  Well, I fancied a little trip.  You know, just to get away from  everything. I've packed you a bag.
Oh, you don't want go wasting your  money on me. It's not my money. It's Phil Mitchell's.  Come again? He's sent Ryan away on  some job this weekend. Should be worth a  few hundred I reckon.
Janine locked you in the fridge?  With a beef carcass.
First you don't want Lily,  then you do. First you do want me to stop,  then you don't. Have you ever meant it  when you've said you love me? Yep, I married you because  I loved you. Now just move the car. And do you still love me?  Just start the car, Janine! No, not until you tell me the truth.
Only house you get invited for  dinner, you have to cook it yourself. It's all right, ain't it?!
So you either leave Janine  and be with me,
Has anyone seen Stacey Slater?  Are you going  to tell him or shall I?
Even when you locked him  in a flippin' fridge.
What about her?  Are you getting her a Christmas present?
Turn that off!  PAT: What are you playing at? Look, your grandfather is asleep.  It ain't my grandfather's funeral.
You're supposed to be  covering Ryan's shift. Do I have to hold your hand?
Alfie was so sweet earlier,  wasn't he, with the football? Must be really hard on your own.  I mean, kids really need  their dads, don't they? Lily's got a dad. Your husband.
Was it you? Did you kill our father?
D'you want a tea as well? Yeah?  What's all that?  Got some new decorations  for the tree, for Bobby.
RYAN =====>
Janine let you out then?  She doesn't own me. Good. I'm going down the Town Hall to  get Lily's birth certificate changed. Why today?  Cos I'm working after. Come on, you, me and Lily. It'll be fun.  All right?
# Nothing more, nothing less  Love is the best... # You all right?  I know. Archie Mitchell's killer. I've  worked it out. Your precious Stacey.
I agreed to let you  look after Lily for the day. I know, but she does live here.
STACEY:  'I did it. I killed Archie.
Any time you need me, you know  where I am. Please, Janine. Please?  You've dropped your bombshell,  Pat, why don't you just fly off to New Zealand and enjoy  yourself with your real family. I don't know why I bother  caring about you.
Morning, Lauren.  Are you OK?  Fine. Brilliant. Shouldn't I be?  What I said.  About what?  Don't play games with me. About Bradley. I'm fine. Good. I'm right, though, aren't I? If, you  know, Bradley didn't kill Archie... it's cos you know who did.
Last night...  I don't care. Really? Well, then,  where you been all day? I've been trying to think things  through and get my head straight. Ryan, I lied to you.  I know, it doesn't matter. I don't care.  I don't care that you killed Archie.
Well, he was plotting with Kat to  go and see Stacey! I know he was. Well, that's no reason to  shut him in a fridge like a leftover bit of brisket!
I want to surprise Ryan.  Oh, do you?  I don't know...  I've got stuff to do. Simon phoned. He's invited me  to New Zealand for Christmas.
All right, Connor's fit.  He likes me. I like him. He's a lowlife, Whitney.
I'll do that, just go and get some  inspiration for the Argee Bhajee. There's too much to do, Masood.
Oh, you don't want go wasting your  money on me. It's not my money. It's Phil Mitchell's.  Come again? He's sent Ryan away on  some job this weekend. Should be worth a  few hundred I reckon.
D'you know where she is?  No. Alfie, tell me. Ryan, I don't know anything.  Please. Listen, you've not heard  it from me OK, but Kat does.
Janine locked you in the fridge?  With a beef carcass.
First you don't want Lily,  then you do. First you do want me to stop,  then you don't. Have you ever meant it  when you've said you love me? Yep, I married you because  I loved you. Now just move the car. And do you still love me?  Just start the car, Janine! No, not until you tell me the truth.
So, you decided to stay then?  I didn't want to leave  any unfinished business. Yeah? Any business in particular?  What do you think?  Stace, a shot of rum  and a bottle of beer, please.
Only house you get invited for  dinner, you have to cook it yourself. It's all right, ain't it?!
He said that Bradley  didn't kill Archie.
I need the weekend off.  What for?  I'm going away for the weekend with Ryan.
So you either leave Janine  and be with me,
STACEY =====>
had a baby with somebody  else's husband. Yeah? I've never been  engaged to a dirty old rapist.
Janine let you out then?  She doesn't own me. Good. I'm going down the Town Hall to  get Lily's birth certificate changed. Why today?  Cos I'm working after. Come on, you, me and Lily. It'll be fun.  All right?
You didn't kill Archie?
# Nothing more, nothing less  Love is the best... # You all right?  I know. Archie Mitchell's killer. I've  worked it out. Your precious Stacey.
STACEY:  'I did it. I killed Archie.
Stacey Slater. Her name is Stacey  Slater. She tried to kill me.
You killed Archie
 ++++  and then you let your precious  Bradley take the blame.
I know you want nice little neat  answers. Life's not like that. Don't patronise me.  I'm not a kid any more. Then you should know you can't go  jumping to conclusions and calling it the truth cos that's  what you want to hear. Swear on my life  that it wasn't Stacey. I swear...  on your life...  that Stacey never killed  Archie Mitchell.
But then Dot said that Stacey's  going away for the weekend.
Last night...  I don't care. Really? Well, then,  where you been all day? I've been trying to think things  through and get my head straight. Ryan, I lied to you.  I know, it doesn't matter. I don't care.  I don't care that you killed Archie.
Well, he was plotting with Kat to  go and see Stacey! I know he was. Well, that's no reason to  shut him in a fridge like a leftover bit of brisket!
How do you mean?  Well, I'd get my mum to have Lily and then me and you could spend the weekend  without looking over our shoulders.
Oh, you don't want go wasting your  money on me. It's not my money. It's Phil Mitchell's.  Come again? He's sent Ryan away on  some job this weekend. Should be worth a  few hundred I reckon.
I'm begging you, please,  can you just trust me? I don't get why you can't tell  me the truth? I'm sorry, Lauren. I promised I wouldn't.
So, you decided to stay then?  I didn't want to leave  any unfinished business. Yeah? Any business in particular?  What do you think?  Stace, a shot of rum  and a bottle of beer, please.
I need the weekend off.  What for?  I'm going away for the weekend with Ryan.
You was in the barrel store  with him last night. Don't try and deny it.
I'll have a glass  of white wine, please. Drink. Lovely.
Has anyone seen Stacey Slater?  Are you going  to tell him or shall I?

In [297]:
for char in top_selection:
    print(char.upper())
    for run in range(1, 5):
        print('Run', run, ':', ' '.join(sorted(top_selection[char][:5*run])))

JANINE
Run 1 : 176-1200 177-2024 178-51 182-14 182-1681
Run 2 : 176-1200 176-1785 176-2060 177-2024 178-51 181-116 182-14 182-1494 182-1681 183-1411
Run 3 : 175-2247 176-1200 176-1785 176-2060 177-2024 178-51 181-116 181-1544 182-1108 182-14 182-1494 182-1681 182-676 183-1411 185-992
Run 4 : 175-2247 176-1200 176-1785 176-2060 176-928 177-2024 178-51 181-116 181-1544 182-1108 182-14 182-1494 182-1681 182-676 183-1397 183-1411 183-1883 184-39 185-943 185-992
RYAN
Run 1 : 175-1772 176-1200 177-2024 178-1549 182-1681
Run 2 : 175-1772 176-1092 176-1200 177-2024 178-1549 179-1741 182-1203 182-1681 183-1411 185-438
Run 3 : 175-1772 176-1092 176-1200 176-2060 177-2024 178-1549 179-1741 179-940 181-1084 181-116 182-1203 182-1494 182-1681 183-1411 185-438
Run 4 : 175-1772 175-2247 176-1092 176-1200 176-1242 176-2060 177-2024 178-1549 179-1741 179-940 181-1084 181-116 181-1250 181-1544 182-1203 182-1279 182-1494 182-1681 183-1411 185-438
STACEY
Run 1 : 175-941 176-1200 177-2024 178-1549 185-316
Run 2 : 175-941 176-1200 177-2024 178-1549 178-51 182-1509 184-2212 184-2213 185-316 185-981
Run 3 : 175-941 176-1200 177-1793 177-2024 178-1549 178-51 179-1741 182-1188 182-1494 182-1509 184-2212 184-2213 185-316 185-438 185-981
Run 4 : 175-941 176-1200 177-1793 177-2024 178-1549 178-51 179-1741 181-1250 182-1188 182-1279 182-1494 182-1509 182-57 184-1785 184-2212 184-2213 185-316 185-438 185-981 185-992

In [298]:
for char in top_durations:
    print(char.upper())
    for run in range(1, 5):
        print('Run', run, ':', sum(top_durations[char][:5*run]))

JANINE
Run 1 : 70.37
Run 2 : 110.13000000000001
Run 3 : 128.97
Run 4 : 174.03
RYAN
Run 1 : 64.69
Run 2 : 121.7
Run 3 : 166.69
Run 4 : 198.14000000000001
STACEY
Run 1 : 52.66
Run 2 : 83.72999999999999
Run 3 : 126.74
Run 4 : 158.09999999999997

In [259]:
for char in votes_durations:
    print(char.upper())
    for run in range(1, 5):
        print('Run', run, ':', sum(votes_durations[char][:5*run]))

JANINE
Run 1 : 70.37000000000016
Run 2 : 110.1300000000018
Run 3 : 128.97000000000287
Run 4 : 174.03000000000267
RYAN
Run 1 : 64.69000000000051
Run 2 : 121.70000000000073
Run 3 : 166.69000000000148
Run 4 : 198.1400000000022
STACEY
Run 1 : 52.660000000000196
Run 2 : 93.0399999999998
Run 3 : 139.8
Run 4 : 162.10000000000065

In [291]:
top_times

{'Janine': [(3904.24, 3917.08),
  (7070.01, 7088.24),
  (5542.12, 5558.14),
  (238.06, 258.23),
  (37.09, 40.2),
  (4743.24, 4747.24),
  (5791.23, 5796.1),
  (4854.11, 4867.08),
  (347.02, 348.08),
  (6681.23, 6698.09),
  (6703.17, 6709.13),
  (5130.19, 5132.1),
  (2986.18, 2989.0),
  (2101.16, 2106.21),
  (3491.02, 3494.12),
  (2861.11, 2867.01),
  (6411.17, 6417.17),
  (4668.06, 4688.21),
  (2883.13, 2886.05),
  (138.01, 148.1)],
 'Ryan': [(3904.24, 3917.08),
  (7070.01, 7088.24),
  (5326.22, 5328.05),
  (5167.23, 5183.0),
  (5542.12, 5558.14),
  (3545.24, 3565.09),
  (1333.04, 1345.19),
  (5856.08, 5864.03),
  (3807.08, 3820.14),
  (4743.24, 4747.24),
  (3746.02, 3749.06),
  (4854.11, 4867.08),
  (3070.13, 3081.19),
  (347.02, 348.08),
  (6681.23, 6698.09),
  (4212.14, 4228.04),
  (6703.17, 6709.13),
  (4064.21, 4067.01),
  (4068.14, 4073.02),
  (5130.19, 5132.1)],
 'Stacey': [(2688.13, 2691.01),
  (3904.24, 3917.08),
  (883.21, 886.15),
  (7070.01, 7088.24),
  (5167.23, 5183.0),
  (2961.06, 2963.06),
  (6782.21, 6784.22),
  (6784.23, 6787.07),
  (238.06, 258.23),
  (4925.1, 4929.15),
  (1333.04, 1345.19),
  (5856.08, 5864.03),
  (3763.13, 3768.05),
  (4854.11, 4867.08),
  (6214.19, 6219.21),
  (4212.14, 4228.04),
  (4068.14, 4073.02),
  (154.21, 157.21),
  (5586.24, 5591.0),
  (2986.18, 2989.0)]}

In [261]:
pickle.dump(top_selection, open('selected_shots_final.pickle', 'wb'))
pickle.dump(top_times, open('selected_shots_boundaries_final.pickle', 'wb'))

# Generate the Videos!

In [281]:
! pip install -q moviepy

In [299]:
shot_boundaries = {}
for character in top_selection:
    for shot in top_selection[character]:
        if shot not in shot_boundaries:
            shot_boundaries[shot] = mastershot_df[mastershot_df.sid == shot][['start', 'end']].values[0]

In [300]:
set([k.split('-')[0] for k in shot_boundaries])

{'175', '176', '177', '178', '179', '181', '182', '183', '184', '185'}

In [301]:
shot_boundaries.keys()

dict_keys(['176-1200', '177-2024', '182-1681', '178-51', '182-14', '183-1411', '176-1785', '182-1494', '181-116', '176-2060', '175-2247', '181-1544', '185-992', '182-676', '182-1108', '176-928', '183-1883', '183-1397', '185-943', '184-39', '175-1772', '178-1549', '176-1092', '185-438', '179-1741', '182-1203', '181-1084', '179-940', '181-1250', '176-1242', '182-1279', '175-941', '185-316', '185-981', '184-2212', '184-2213', '182-1509', '182-1188', '177-1793', '182-57', '184-1785'])

In [ ]:
shot185_1736

In [284]:
3763.13 * 25

94078.25

In [285]:
os.listdir('../../eastenders_episodes')

['5531550228324592939.mp4',
 '5534228999422914578.mp4',
 '5542003749222140011.mp4',
 '5555325449284154780.mp4',
 '5547193787702629969.mp4',
 '5544620672795594434.mp4',
 '5555360238519252381.mp4',
 '5552368364300855101.mp4',
 '5549784941472309008.mp4',
 '5544574287152993687.mp4',
 '5539381671692122744.mp4']

In [286]:
"""%%time
frames = {}
# Read until video is completed
for filename in tqdm(os.listdir('../../eastenders_episodes'), total=11):
    print('Processing', filename)
    vid = cv2.VideoCapture('../../eastenders_episodes/' + filename)
    vid_id = file2id[filename]
    current_frame = 0
    
    for sid in sorted([sid for sid in shot_boundaries if sid.startswith(vid_id)]):
        start_frame = int(shot_boundaries[shot][0] * 25)
        end_frame = int(shot_boundaries[shot][1] * 25)
        frames[sid] = []
        
        while(cap.isOpened()):
            ret, frame = cap.read()
            current_frame += 1
            if ret == True and current_frame >= start_frame and current_frame <= end_frame:
                frames[sid].append(frame)
            if ret == True and current_frame > end_frame:
                print(f'frames[{sid}]:', len(frames[sid]))
                break

    vid.release()"""
print('Using OpenCV is too slow')

Using OpenCV is too slow

In [287]:
df[df.sid == '175-1772'][['begin', 'end']].values[0]

array([5326.22, 5328.05])

In [303]:
%%time
frames = {}
durs = {}
# Read until video is completed
for filename in tqdm(os.listdir('../../eastenders_episodes'), total=11):
    print('Processing', filename)
    video = VideoFileClip('../../eastenders_episodes/' + filename)
    vid_id = file2id[filename]
    current_frame = 0
    
    for sid in sorted([sid for sid in shot_boundaries if sid.startswith(vid_id)]):
        try:
            start, end = shot_boundaries[sid]
            frames[sid] = video.subclip(start, end)
            durs[sid] = (strptime(end, '%H:%M:%S.%f') - strptime(start, '%H:%M:%S.%f')).total_seconds()
        except Exception as e:
            print('EXCEPTION', str(e))
            print(sid, start, end)

HBox(children=(FloatProgress(value=0.0, max=11.0), HTML(value='')))

Processing 5531550228324592939.mp4
Processing 5534228999422914578.mp4
Processing 5542003749222140011.mp4
Processing 5555325449284154780.mp4
Processing 5547193787702629969.mp4
Processing 5544620672795594434.mp4
Processing 5555360238519252381.mp4
Processing 5552368364300855101.mp4
Processing 5549784941472309008.mp4
Processing 5544574287152993687.mp4
Processing 5539381671692122744.mp4

CPU times: user 130 ms, sys: 4.15 s, total: 4.28 s
Wall time: 18.2 s

In [304]:
for char in top_selection:
    print(char.upper())
    print('Generating videos for', char, ':')
    for run in range(1, 5):
        t = time.time()
        print('   Run', run, '..', end=' ')
        shots = sorted(top_selection[char][:5*run])
        result = concatenate_videoclips([frames[sid] for sid in shots]) 
        result.write_videofile(f"videos/MeMAD_{run}_{char}.mp4",fps=25, logger=None)
        print(f'Done! ({(time.time() - t):.2f} s)')

JANINE
Generating videos for Janine :
   Run 1 .. Done! (20.18 s)
   Run 2 .. Done! (37.67 s)
   Run 3 .. Done! (45.12 s)
   Run 4 .. Done! (58.39 s)
RYAN
Generating videos for Ryan :
   Run 1 .. Done! (20.10 s)
   Run 2 .. Done! (37.25 s)
   Run 3 .. Done! (53.85 s)
   Run 4 .. Done! (68.36 s)
STACEY
Generating videos for Stacey :
   Run 1 .. Done! (20.21 s)
   Run 2 .. Done! (28.77 s)
   Run 3 .. Done! (44.57 s)
   Run 4 .. Done! (59.39 s)

In [351]:
results = {'Janine': {1:[('175_1', 5.3), ('175_2', 5.3)],
                      2:[('175_1', 5.3), ('175_2', 5.3), ('175_3', 5.3)],
                      3:[('175_1', 5.3), ('175_2', 5.3), ('175_3', 5.3), ('175_4', 5.3)],
                      4:[('175_1', 5.3), ('175_2', 5.3), ('175_3', 5.3), ('175_4', 5.3), ('175_5', 5.3)],},
           'Ryan':   {1:[('175_1', 5.3), ('175_2', 5.3)],
                      2:[('175_1', 5.3), ('175_2', 5.3), ('175_3', 5.3)],
                      3:[('175_1', 5.3), ('175_2', 5.3), ('175_3', 5.3), ('175_4', 5.3)],
                      4:[('175_1', 5.3), ('175_2', 5.3), ('175_3', 5.3), ('175_4', 5.3), ('175_5', 5.3)],},
           'Stacey': {1:[('175_1', 5.3), ('175_2', 5.3)],
                      2:[('175_1', 5.3), ('175_2', 5.3), ('175_3', 5.3)],
                      3:[('175_1', 5.3), ('175_2', 5.3), ('175_3', 5.3), ('175_4', 5.3)],
                      4:[('175_1', 5.3), ('175_2', 5.3), ('175_3', 5.3), ('175_4', 5.3), ('175_5', 5.3)],}}

In [354]:
results

{'Janine': {1: [('175_1', 5.3), ('175_2', 5.3)],
  2: [('175_1', 5.3), ('175_2', 5.3), ('175_3', 5.3)],
  3: [('175_1', 5.3), ('175_2', 5.3), ('175_3', 5.3), ('175_4', 5.3)],
  4: [('175_1', 5.3),
   ('175_2', 5.3),
   ('175_3', 5.3),
   ('175_4', 5.3),
   ('175_5', 5.3)]},
 'Ryan': {1: [('175_1', 5.3), ('175_2', 5.3)],
  2: [('175_1', 5.3), ('175_2', 5.3), ('175_3', 5.3)],
  3: [('175_1', 5.3), ('175_2', 5.3), ('175_3', 5.3), ('175_4', 5.3)],
  4: [('175_1', 5.3),
   ('175_2', 5.3),
   ('175_3', 5.3),
   ('175_4', 5.3),
   ('175_5', 5.3)]},
 'Stacey': {1: [('175_1', 5.3), ('175_2', 5.3)],
  2: [('175_1', 5.3), ('175_2', 5.3), ('175_3', 5.3)],
  3: [('175_1', 5.3), ('175_2', 5.3), ('175_3', 5.3), ('175_4', 5.3)],
  4: [('175_1', 5.3),
   ('175_2', 5.3),
   ('175_3', 5.3),
   ('175_4', 5.3),
   ('175_5', 5.3)]}}

In [367]:
results = {}
for char in top_selection:
    results[char] = {}
    for run in range(1, 5):
        shots = sorted(top_selection[char][:5*run])
        results[char][run] = [(shot.replace('-', '_'), durs[shot]) for shot in shots] # [('100-1', 10.5) for shot in shots] #

In [368]:
results

{'Janine': {1: [('176_1200', 12.84),
   ('177_2024', 18.23),
   ('178_51', 20.17),
   ('182_14', 3.11),
   ('182_1681', 16.02)],
  2: [('176_1200', 12.84),
   ('176_1785', 4.87),
   ('176_2060', 16.86),
   ('177_2024', 18.23),
   ('178_51', 20.17),
   ('181_116', 1.06),
   ('182_14', 3.11),
   ('182_1494', 12.97),
   ('182_1681', 16.02),
   ('183_1411', 4.0)],
  3: [('175_2247', 5.96),
   ('176_1200', 12.84),
   ('176_1785', 4.87),
   ('176_2060', 16.86),
   ('177_2024', 18.23),
   ('178_51', 20.17),
   ('181_116', 1.06),
   ('181_1544', 1.91),
   ('182_1108', 3.1),
   ('182_14', 3.11),
   ('182_1494', 12.97),
   ('182_1681', 16.02),
   ('182_676', 5.05),
   ('183_1411', 4.0),
   ('185_992', 2.82)],
  4: [('175_2247', 5.96),
   ('176_1200', 12.84),
   ('176_1785', 4.87),
   ('176_2060', 16.86),
   ('176_928', 5.9),
   ('177_2024', 18.23),
   ('178_51', 20.17),
   ('181_116', 1.06),
   ('181_1544', 1.91),
   ('182_1108', 3.1),
   ('182_14', 3.11),
   ('182_1494', 12.97),
   ('182_1681', 16.02),
   ('182_676', 5.05),
   ('183_1397', 20.15),
   ('183_1411', 4.0),
   ('183_1883', 6.0),
   ('184_39', 10.09),
   ('185_943', 2.92),
   ('185_992', 2.82)]},
 'Ryan': {1: [('175_1772', 1.83),
   ('176_1200', 12.84),
   ('177_2024', 18.23),
   ('178_1549', 15.77),
   ('182_1681', 16.02)],
  2: [('175_1772', 1.83),
   ('176_1092', 19.85),
   ('176_1200', 12.84),
   ('177_2024', 18.23),
   ('178_1549', 15.77),
   ('179_1741', 7.95),
   ('182_1203', 13.06),
   ('182_1681', 16.02),
   ('183_1411', 4.0),
   ('185_438', 12.15)],
  3: [('175_1772', 1.83),
   ('176_1092', 19.85),
   ('176_1200', 12.84),
   ('176_2060', 16.86),
   ('177_2024', 18.23),
   ('178_1549', 15.77),
   ('179_1741', 7.95),
   ('179_940', 11.06),
   ('181_1084', 3.04),
   ('181_116', 1.06),
   ('182_1203', 13.06),
   ('182_1494', 12.97),
   ('182_1681', 16.02),
   ('183_1411', 4.0),
   ('185_438', 12.15)],
  4: [('175_1772', 1.83),
   ('175_2247', 5.96),
   ('176_1092', 19.85),
   ('176_1200', 12.84),
   ('176_1242', 2.8),
   ('176_2060', 16.86),
   ('177_2024', 18.23),
   ('178_1549', 15.77),
   ('179_1741', 7.95),
   ('179_940', 11.06),
   ('181_1084', 3.04),
   ('181_116', 1.06),
   ('181_1250', 15.9),
   ('181_1544', 1.91),
   ('182_1203', 13.06),
   ('182_1279', 4.88),
   ('182_1494', 12.97),
   ('182_1681', 16.02),
   ('183_1411', 4.0),
   ('185_438', 12.15)]},
 'Stacey': {1: [('175_941', 2.88),
   ('176_1200', 12.84),
   ('177_2024', 18.23),
   ('178_1549', 15.77),
   ('185_316', 2.94)],
  2: [('175_941', 2.88),
   ('176_1200', 12.84),
   ('177_2024', 18.23),
   ('178_1549', 15.77),
   ('178_51', 20.17),
   ('182_1509', 4.05),
   ('184_2212', 2.01),
   ('184_2213', 2.84),
   ('185_316', 2.94),
   ('185_981', 2.0)],
  3: [('175_941', 2.88),
   ('176_1200', 12.84),
   ('177_1793', 5.02),
   ('177_2024', 18.23),
   ('178_1549', 15.77),
   ('178_51', 20.17),
   ('179_1741', 7.95),
   ('182_1188', 4.92),
   ('182_1494', 12.97),
   ('182_1509', 4.05),
   ('184_2212', 2.01),
   ('184_2213', 2.84),
   ('185_316', 2.94),
   ('185_438', 12.15),
   ('185_981', 2.0)],
  4: [('175_941', 2.88),
   ('176_1200', 12.84),
   ('177_1793', 5.02),
   ('177_2024', 18.23),
   ('178_1549', 15.77),
   ('178_51', 20.17),
   ('179_1741', 7.95),
   ('181_1250', 15.9),
   ('182_1188', 4.92),
   ('182_1279', 4.88),
   ('182_1494', 12.97),
   ('182_1509', 4.05),
   ('182_57', 3.0),
   ('184_1785', 4.76),
   ('184_2212', 2.01),
   ('184_2213', 2.84),
   ('185_316', 2.94),
   ('185_438', 12.15),
   ('185_981', 2.0),
   ('185_992', 2.82)]}}

In [376]:
def generate_results(results):
    team_name = 'MeMAD'
    desc = "The output"
    query_characters = ['Janine', 'Ryan', 'Stacey']
    shots_per_run = {1: 5, 2: 10, 3:15, 4:20}

    for run in [1, 2, 3, 4]:
        with open(f'xml/{team_name}_run_{run}.xml', 'wt') as file:
            file.write('<!DOCTYPE videoSummarizationResults SYSTEM "https://www-nlpir.nist.gov/projects/tv2020/dtds/videoSummarizationResults.dtd">\n')
            file.write('<videoSummarizationResults>\n')
            file.write(f'\t<videoSummarizationRunResult pid="{team_name}" priority="{run}" desc="Run {run}">\n')
            for character in query_characters:
                n_shots = shots_per_run[run]
                duration = sum([c[1] for c in results[character][run]])
                file.write(f'\t\t<videoSummarizationTopicResult  target="{character}" numShots="{shots_per_run[run]}" summTime="{round(duration, 1)}">\n')
                for i, shot_id in enumerate(results[character][run]):
                    file.write(f'\t\t\t<item seqNum="{i+1}" shotId="shot{shot_id[0]}"/>\n')
                file.write(f'\t\t</videoSummarizationTopicResult>\n')
            file.write('\t</videoSummarizationRunResult>\n')
            file.write('</videoSummarizationResults>\n')

In [377]:
generate_results(results)